<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>

</head>

<body>
    {{>header}}
    
    <p>{{error}}</p>

    {{>footer}}
</body>

</html>