<!doctype html>
<html>

<head>
    <title>Weather WebApp | About us</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>

<body>
    {{>header}}

    <p>i don't want talk to you do just go away :|.</p>
    <img src="http://placekitten.com/500/500">
    {{>footer}}
</body>

</html>