<!doctype html>
<html>

<head>
    <title>Weather WebApp | help</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>

<body>
    {{>header}}

    <p>what are you? a baby? take care of your self.</p>

    {{>footer}}
</body>

</html>