<!doctype html>
<html>

<head>
    {{>head}}
</head>

<body>
    {{>header}}
    
    <p>this is the home page for the weather web app, hope you like it</p>
    <form id="weather-form">
        <input type="search" id="addr" placeholder="enter area to get weather"> 
        <input type="submit" value="search">
        <label id="forecast"></label>
    </form>
    {{>footer}}

    <script src="/js/script.js"></script>
</body>

</html>